.teacherCard {
    display: flex;
    align-items: flex-start;
    border-radius: 24px;
    padding: 24px;
    padding-right: 32px;
    max-width: 1184px;
    border: none;
    background: #fff;
    margin: 32px auto;
    gap:48px; 
    position: relative;
}

.heartContainer {
    position: absolute;
    top: 22px;
    right: 24px;
    border: none;
    background-color: inherit;
    cursor: pointer;
   
   
}

.teacherAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    padding: 10px;
    border: 2px solid #f4c550;

}

.levelsList {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
   
}

.levelItem {
    padding: 8px 12px;
    border: 1px solid rgba(18, 20, 23, 0.2);
    border-radius: 35px;
}

.firstLevelItem {
    background-color: #f4c550;
    border: none;
}

.teacherInfo {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.titleList{
    display: flex;
    gap:16px;
    align-items: center;
}
.titleListItem{
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #121417;
}
.price{
    color: #38cd3e;
}
.heartIcon{
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.heartFillIcon {
    width: 28px;
    height: 28px;
    cursor: pointer;
    fill: #f4c550;
}
.link{
    font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #121417;
        border: none;
        background-color: #fff;
        
}

.conditions{
    display:flex;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
   
    
}

.titleConditions{
    color: #8a8a89;
        
}
.languages{
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.button{
    border-radius: 12px;
        padding: 16px 48px;
        width: 232px;
        height: 60px;
        background: #f4c550;
        font-weight: 700;
        font-size: 18px;
        line-height: 156%;
        color: #121417;
        border: none;
        cursor: pointer;
        
}

.button:hover,
.button:focus {
    background-color: #fadf9c;

}
