 .container {
     padding: 0 16px;
     display: flex;
     gap: 16px;
     flex-direction: column;
     margin: 0 auto;
     max-width: 100%;
 }

 .wrapper {
     display: flex;
     flex-direction: column;
     gap: 24px;
     justify-content: center;
     align-items: center;
 }

 .titleBlock {
     border-radius: 30px;
     background: #f8f8f8;
     padding: 48px 16px;
     width: 100%;
     max-width: 100%;
     text-align: center;
 }
 

 .title {
     font-weight: 500;
     font-size: 6vw;
     
     line-height: 117%;
     letter-spacing: -0.02em;
     color: #121417;
     margin-bottom: 24px;
 }

 .span {
     border-radius: 8px;
     background-color: #fadf9c;
 }

 .text {
     font-weight: 400;
     font-size: 4vw;
    
     line-height: 137%;
     letter-spacing: -0.02em;
     color: #121417;
     margin-bottom: 32px;
     max-width: 100%;
 }

 .button {
     border-radius: 12px;
     padding: 16px 40px;
     width: 100%;
     max-width: 267px;
     background: #f4c550;
     border: none;
     font-weight: 700;
     font-size: 18px;
     line-height: 156%;
     color: #121417;
 }

 .button:hover,
 .button:focus {
     background-color: #fadf9c;
 }

 .imgBlock {
     border-radius: 30px;
     background: #fbe9ba;
     width: 100%;
     max-width: 100%;
 }

 .listAdvantages {
     border: 2px dashed #f4c550;
     border-radius: 30px;
     width: 100%;
     padding: 20px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 16px;
     margin: 0 auto;
 }

 .advantage {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 12px;
    
 }

 .number {
     font-weight: 500;
     font-size: 3.8vw;
     line-height: 114%;
     letter-spacing: -0.02em;
     color: #121417;
 }

 .item {
     font-weight: 400;
     line-height: 129%;
     letter-spacing: -0.02em;
     color: rgba(18, 20, 23, 0.7);
     text-align: center;
    width: 74px;
    font-size: 14px;
 }

 
 @media (min-width: 768px) {
     

     .titleBlock {
         padding: 64px 32px;
         text-align: left;
     }

     .title {
         font-size: 36px;
        margin-bottom: 36px;
        
     }

     .text {
         font-size: 18px;
         max-width: 471px;
        margin-bottom: 84px;
     }

     .button {
         padding: 16px 88px;
         max-width: 267px;
     }

     .imgBlock {
         min-width: 568px;
     }
     .listAdvantages {
    
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
   
    margin: 0 auto;
    
    justify-content: space-between;
}
    

     .number {
         font-size: 18px;
      
     }

     .item {
         font-size: 14px;
     }
 }

 
 @media (min-width: 1024px) {
     .container {
         padding: 0 64px;
         padding-bottom: 16px;
     }
     .wrapper{
        flex-direction: row;
     }
     .titleBlock {
         padding-top: 98px;
         padding-left: 64px;
         padding-bottom: 98px;
     }

     .title {
         font-size: 48px;
     }

     .text {
         font-size: 16px;
     }

     .button {
         max-width: 267px;
     }

     .imgBlock {
         min-width: 568px;
       
     }

     .listAdvantages {
        
        justify-content: space-between;
        padding: 30px 116px;
     }

     .advantage {
         
         flex-direction: row;
         justify-content: space-between;
         width: 217px;
         gap: 12px;
         justify-content: center;
         align-items: center;
         
     }
         

     .number {
         font-size: 28px;
        white-space: nowrap;
            
     }

     .item {
         font-size: 14px;
        
         
      
     }
         .itemWrap{
            white-space: nowrap;
         }
 }